body{
	background-color:	#FFB266;
}
 table {
     width: 100%;
 }
 
 td {
     padding: 10px 10px 10px 10px;
     /* border: solid; */
 }
 
 h2 {
     text-align: center;
 }
 
 .main-heading {
     text-align: center;
 }
 
 .edu-heading .grade {
     width: 6%;
 }
 
 .edu-heading .board {
     width: 14%;
 }
 
 .edu-heading .degree {
     width: 14%;
 }
 
 .edu-heading .marks {
     width: 10%;
 }
 
 .edu-heading .school {
     width: 40%;
 }
 
 .edu-heading .year {
     width: 10%;
 }
 
 .edu-body .school,
 .edu-body .board,
 .edu-body .degree,
 .edu-body .year,
 .edu-body .marks {
     width: 100%;
 }
 
 #email {
     width: 100%;
 }
 
 input[type=text],
 select {
     width: 80%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }
 
 textarea {
     width: 80%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }
 
 input[type=submit] {
     width: 30%;
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     float: right;
 }
 
 input[type=submit]:hover {
     background-color: #45a049;
 }
 
 button {
     width: 30%;
     background-color: #e7e7e7;
     color: black;
     border: none;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     float: left;
 }
 
 .tooltip {
     position: relative;
 }
 
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     position: absolute;
     z-index: 1;
     bottom: 100%;
     left: 50%;
     margin-left: -60px;
 }
 
 .tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: black transparent transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
     visibility: visible;
 }