.total{
    text-align: center;
   
    margin: 0% 4% 0% 0%;
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    color: #FF7B00;
}
.items{
    text-align: center;
    margin: 0% 0% 0% 3%;
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    color: #FF7B00;
}
.pfooter{
    height: 4em;
    background-color: white;
    margin:  -0.5em -0.7em;
    padding: 0.5em;
}
.pheader{
    height: 3em;
    background-color: white;
    margin: -0.5em -0.7em;
    font-size: 17px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    color: #FF7B00;
    text-align: left;
    padding: 0.5em 1em 0.5em 2em;

}
.badge {
  
    background-color: #111110;
    border-radius: 15px;
    height: 27px ;
    width: 27px;
    font-size: 20px;
    margin-top:3px;
}


