<p-dataScroller [styleClass]="cartList" [value]="products" [rows]="10" [buffer]="0.4">
    <p-header>
        <div class="pheader">

            <div class="row">
                <div class="col-lg-2"> Welcome to your cart</div>
                <div class="col-lg-5" style="text-align:center;margin-left:-30px">Product Detail</div>
                <div class="col-lg-2">Price</div>
                <div class="col-lg-2"></div>
                <div class="col-lg-1" style="text-align:left;margin-left:-45px">Quantity</div>
            </div>
        </div>
    </p-header>
    <p-footer>
        <div class="pfooter">
            <div class="total pull-right">TOTAL AMOUNT&nbsp;:&nbsp;
                <i class="fa fa-inr"></i>&nbsp;{{sum}}</div>
            <div class="items pull-left">TOTAL ITEMS&nbsp;:&nbsp;{{count}}</div>
        </div>
    </p-footer>
    <ng-template let-product pTemplate="item">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:17px;font-family: 'Segoe UI,Arial,sans-serif';padding:24px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2" style="text-align:center">
                    <img [src]="product.image">
                </div>
                <div class="ui-grid-col-5" style="font-size:20px">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="padding:5% 0% 5% 20%">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">Product Name </div>
                            <div class="ui-grid-col-8">: {{product.productName}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">Category </div>
                            <div class="ui-grid-col-8">: {{product.category}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">Color </div>
                            <div class="ui-grid-col-8">: {{product.color}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">Product Material </div>
                            <div class="ui-grid-col-8">: {{product.productMaterial}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">Rating </div>
                            <div class="ui-grid-col-8">: {{product.rating}}</div>
                        </div>
                    </div>

                </div>
                <div class="ui-grid-col-2" style="text-align:left;padding:5% 0% 5% 0%;font-size:26px">
                    <i class="fa fa-inr"></i>&nbsp;{{product.price}}</div>
                <div class="ui-grid-col-2" style="text-align:left;padding:5% 0% 5% 0%;">
                    <i class="fa fa-trash-o fa-2x" (click)="deleteFromCart(product)"></i>
                </div>
                <div class="ui-grid-col-1" style="text-align:left;padding:5% 0% 5% 0%;">
                    <span class="badge">{{product["quantity"]}}</span>
                </div>

            </div>
        </div>

    </ng-template>

</p-dataScroller>