<div class="container">
  <h1>Create Product</h1>
  <hr>
  <form #productForm="ngForm">>
    <div class="form-group">
      <label for="product">Product</label>
      <input type="text" [(ngModel)]="model.product" class="form-control" id="product" required name ="product">
    </div>
    <div [hidden]="product.valid"
     class="alert alert-danger">
  Product is required and should have atleast 3 characters
</div>
    <div class="form-group">
      <label for="department">Department</label>
      <select class="form-control" id="department" required name ="department">
        <option *ngFor="let dep of departments" [value]="dep">{{dep}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text"  [(ngModel)]="model.productName" class="form-control" id="productName" required name ="productName">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text"  [(ngModel)]="model.price" class="form-control" id="price" required name ="price">
    </div>
    <div class="form-group">
      <label for="productMaterial">Color</label>
      <select class="form-control" id="productMaterial" required name ="productMaterial">
        <option *ngFor="let mat of productMaterials" [value]="mat">{{mat}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="color">Color</label>
      <select class="form-control" id="color" required name="color">
        <option *ngFor="let col of colors" [value]="col">{{col}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>