<nav class="navbar navbar-inverse  ">
  <div class="container-fluid row">
    <div class="navbar-header col-md-2">

      <a class="navbar-brand">
        <img src="./assets/images/logo.png">ASPKART</a>
    </div>

    <ul class="nav navbar-nav col-md-3 row">
      <li class="col-md-6">
        <a routerLink="/home" routerLinkActive="link-active" [routerLinkActiveOptions]=" { exact: true }">Home</a>
      </li>

      <li class="dropdown col-md-6">
        <button class="btn  dropdown-toggle drop" type="button" data-toggle="dropdown">Shop By Category
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let category of categorys">
            <a herf="#" (click)="gotoProducts(category)">{{category}}</a>
          </li>
          <li>
            <a routerLink="/products"></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="col-md-5">
      <app-product-search></app-product-search>
    </div>
    <ul class="nav navbar-nav navbar-right col-md-2">
      <li>

        <a>
          <i class="fa fa-user"></i>logout</a>
      </li>

      <li>
        <button type="button" class="btn btn-default btn-sm cart">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <a routerLink="/cart" routerLinkActive="link-active" [routerLinkActiveOptions]=" { exact: true }">CART</a>&nbsp;
          <span class="badge">0</span>
        </button>
      </li>

    </ul>
  </div>
</nav>