<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Angular JS Learnings</title>
	<script type="text/javascript" src="js/angularjs/angular.js"></script>
	
	<script>
	var app = angular.module('sample', []);
	app.controller('sampleCtrl', function($scope) {
		$scope.sampleData = [{firstName:"Ramesh",lastName:"Chandran"}];
		
		$scope.add = function() {
    		$scope.sampleData.push({firstName:$scope.firstName,lastName:$scope.lastName});
    		$scope.firstName="";
    		$scope.lastName="";
    	};
    	
	});
	
</script>
</head>


<body ng-app="sample">

<div ng-controller="sampleCtrl">

	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	
	<br>
	<input type="button" ng-click="add()" value="Add Employee">
	
	<ol>
		<li ng-repeat="emp in sampleData">
			{{emp.firstName + " " + emp.lastName}}
		</li>
	</ol>

</div>

</body>
</html>