<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Angular"
            id="com.aspiresys.angularator.component">
      </category>
      <wizard
            name="Component"
            icon="icons/component.png"
            category="com.aspiresys.angularator.component"
            class="com.aspiresys.angularator.component.wizards.NewComponentWizard"
            id="com.aspiresys.angularator.component.wizards.NewComponentWizard">
            <description>
      	AngularatorMessages.COMPONENT_WIZARD_DESCRIPTION
      </description>
      </wizard>
   </extension>
  <!--<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.aspiresys.angularator.component.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="com.aspiresys.angularator.component.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="com.aspiresys.angularator.component.popup.actions.NewAction"
               menubarPath="com.aspiresys.angularator.component.menu1/group1"
               enablesFor="1"
               id="com.aspiresys.angularator.component.newAction">
         </action>
      </objectContribution>
   </extension>-->
</plugin>
